.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
.idea/workspace.xml
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/nocook.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
debug.log
.travis.yml